.main {
    background-color: black;
    width: 100vw; /* Ocupar todo el ancho de la ventana */
    min-height: 100vh; /* Ocupar toda la altura de la ventana */
    display: flex;
    flex-direction: column;
}
