<div class="historia-page">

    <div class="espacio">

    </div>
    <div class="espacio">
        <hr class="linea-blanca">
    </div>

    <!-- Título -->
    <h1 class="titulo">- Nuestro Mito -</h1>

    <!-- Imagen superior -->
    <div class="imagen-superior">
        <img src="assets/historia_grande.jpg" alt="Imagen de Mezcal">
    </div>

    <!-- Contenido -->
    <div class="contenido">
        <!-- Imagen lateral -->
        <div class="imagen-lateral">
            <img src="assets/historia_botella.jpg" alt="Botella de Mezcal">
        </div>
        <!-- Texto -->
        <div class="texto">
            <p>
                Hay un mito antiguo sobre el cerro de la misericordia en Axaxacualco, Guerrero, en esta tierra cada 24
                de junio en la hora más oscura aparece un portal magno hacia otra realidad. Cada persona que llega a
                este cerro y cruza el portal se encuentra con un pueblo pintoresco lleno de alegría con una feria
                colorida que no te deja ver donde termina. El mezcal y la comida son el centro del espectáculo. Sin
                embargo, quien entra y bebe un sorbo de mezcal o come un pedacito de carne nunca se va. En 1977 Don
                Paulino Zaragoza Maestro Mezcalero de la región había creado una receta gloriosa con Agave Cupreata,
                estaba seguro de que su elixir estaba hecho para dioses y demonios, Don Zaragoza emprende el viaje al
                cerro sin retorno, convencido de salir victorioso del lugar, al llegar la gente de este mundo lo recibió
                con los brazos abiertos, al entrar vio los banquetes y gente hermosa a donde volteara.
            </p>
            <p>
                Rápidamente, abrió su botella de mezcal y se las ofreció con valentía, deslumbrándolos con su aroma y
                fortaleza hasta tenerlos a su merced. Desde ese día Don Zaragoza entraba y salía de estas tierras todos
                los años hasta su último aliento a cambio de una botella de su mezcal, él era un dios entre ellos, comía
                y bebía mezcal como un rey hasta el amanecer.
            </p>
        </div>

    </div>
    <div class="espacio">
        <hr class="linea-blanca">
    </div>
    
</div>