<nav>
    <ul>
        <li class="logo-container">
            <a href="#">
                <img class="logo" src="assets/logo.png" alt="Logo">
            </a>
        </li>
        <li><a href="#" [routerLink]="['/catalogo']">Catálogo</a></li>
        <li><a href="#" [routerLink]="['/recetas']">Recetas</a></li>
        <li><a href="#" [routerLink]="['/logros']">Logros</a></li>
        <li><a routerLink="/historia">Historia</a></li>
        <li><a href="#">Contactos</a></li>
        
    </ul>
</nav>
