<div class="logros-page">

    <div class="espacio">
        <hr class="linea-blanca">
    </div>
    <!-- Título -->
    <div class="titulo">
        <h1>NUESTROS PREMIOS / OUR AWARDS</h1>
        <h2>LOS LOTES CAMBIAN, LA CALIDAD PERDURA</h2>
    </div>

    <!-- Contenedor de logros -->
    <div class="logros-container">
        <div class="logro-card">
            <img src="assets/medalla-2020.jpg" alt="Medalla 2020" />
            <h3>MEDALLA GRAN ORO</h3>
            <p class="descripcion">CONCURSO NACIONAL DE MARCAS AMM</p>
            <span class="año">2020</span>
        </div>
        <div class="logro-card">
            <img src="assets/medalla-2021.jpg" alt="Medalla 2021" />
            <h3>MEDALLA DE ORO</h3>
            <p class="descripcion">CONCURSO NACIONAL DE MARCAS AMM</p>
            <span class="año">2021</span>
        </div>
        <div class="logro-card">
            <img src="assets/medalla-94.jpg" alt="Medalla 94" />
            <h3>MEDALLA DE ORO</h3>
            <p class="descripcion">TOP 99 MEZCALES REVISTA CAVA</p>
            <span class="año">2023</span>
        </div>
        <div class="logro-card">
            <img src="assets/medalla-bruselas.jpg" alt="Medalla Bruselas" />
            <h3>MEDALLA DE ORO</h3>
            <p class="descripcion">CONCURSO MUNDIAL DE BRUSELAS</p>
            <span class="año">2023</span>
        </div>
    </div>

    <div class="imagen-inferior">
        <img src="assets/agave-background.jpg" alt="Fondo Agave" />
        <div class="espacio"><hr class="linea-blanca"></div>
        <p>MEZCAL DE LOTES PEQUEÑOS CREADOS POR MANOS ARTESANAS DE GRANDES IDEAS / MEZCAL OF SMALL PRODUCTIONS CREATEDBY ARTISAN HANDS WITH GREAT IDEAS</p>
        <div class="espacio2"><hr class="linea-blanca"></div>
    </div>
</div>