/* Estilos Generales */
.home-container {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #000000; /* Fondo negro */
    color: white;
    padding-bottom: 50px;
}

/* Banner con imagen */
.banner {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    overflow: hidden;
}

.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.marca {
    font-size: 24px;
    font-weight: bold;
}

.descripcion {
    font-size: 18px;
    max-width: 80%;
}

/* Botón estilo catálogo */
.btn-catalogo {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-catalogo:hover {
    background-color: #0056b3;
}

/* Sección de redes sociales */
.social-section {
    margin-top: 30px;
    text-align: center;
}

.social-text {
    font-size: 20px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.botonera {
    display: flex;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.botonera img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}