<div class="home-container">
    <div class="banner">

        <video autoplay loop muted playsinline>
            <source
                src="https://firebasestorage.googleapis.com/v0/b/cbpeh2.appspot.com/o/banner.mp4?alt=media&token=6e6bcebf-acf1-4b3a-aa42-86c16f67438e"
                type="video/mp4">
            Tu navegador no soporta videos en HTML5.
        </video>
    </div>

    <div class="espacio">
        <hr class="linea-blanca">
    </div>

    <div class="botonera">
        <div class="botonera-imagen">
            <img src="assets/banner.jpeg" alt="Imagen Principal">
        </div>
        <div class="botonera-texto">
            <h1 class="marca">"Donde el fuego se vuelve sabor."</h1>
            <p class="descripcion">Forjado por el fuego, nacido de la tierra, con el alma libre de quien lo bebe.</p>
            <button class="btn-catalogo" [routerLink]="['/catalogo']">Ver Catálogo</button>
        </div>
    </div>
    <div class="espacio"></div>
    <div class="volver">
        <button class="button" (click)="scrollToTop()">
            <svg class="svgIcon" viewBox="0 0 384 512">
                <path
                    d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z">
                </path>
            </svg>
        </button>
    </div>


</div>