<footer class="footer">
    <p>&copy; 2024 Mito Zaragoza. Todos los derechos reservados.</p>
    <div class="botonera">
        <a href="https://www.facebook.com" target="_blank">
            <img src="assets/facebook.png" width="25" height="25" alt="Facebook">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="assets/Instagram_icon.png" width="25" height="25" alt="Instagram">
        </a>
        <a href="https://www.tiktok.com" target="_blank">
            <img src="assets/png-transparent-tik-tok.png" width="25" height="25" alt="TikTok">
        </a>
    </div>
</footer>
