<footer class="footer">
    <div class="footer-content">
        
        <a href="https://www.instagram.com/elmitodezaragoza?igsh=Yml1Y3Z4MWN2YnB6" class="footer-item">
            <img src="assets/instagram_icono.png" alt="Instagram"> Instagram
        </a>
        <a href="https://www.facebook.com/elmitodezaragoza" class="footer-item">
            <img src="assets/facebook_icono.png" alt="Facebook"> Facebook
        </a>
        <a href="https://www.tiktok.com/@elmitodezaragoza?_t=ZM-8uFtNSZ0tQV&_r=1" class="footer-item">
            <img src="assets/tiktok_icono.png" alt="Twitter"> Twitter
        </a>
    </div>
</footer>
