<footer class="footer">
    <p>&copy; 2024 Mito Zaragoza. Todos los derechos reservados.</p>

    <div class="botonera">


        <a href="https://www.facebook.com/elmitodezaragoza" target="_blank">
            <img src="assets/facebook.png" width="30" height="30" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/elmitodezaragoza?igsh=Yml1Y3Z4MWN2YnB6" target="_blank">
            <img src="assets/Instagram_icon.png" width="30" height="30" alt="Instagram">
        </a>
        <a href="https://www.tiktok.com/@elmitodezaragoza?_t=ZM-8uFtNSZ0tQV&_r=1" target="_blank">
            <img src="assets/png-transparent-tik-tok.png" width="30" height="30" alt="TikTok">
        </a>
    </div>
</footer>
